<!-- view after tweet is successfully created -->
<div class="col-md-4 col-md-offset-4 text-center">
	<h1>Tweet Created!</h1>
	<hr>
	<%= link_to "Tweet Again", new_tweet_path, class: "btn btn-primary btn-block" %>
	<br>
	<h4>or</h4>
	<br>
	<%= link_to "Return Home", root_path, class: "btn btn-success btn-block" %>
</div>