body {
	background: url('/images/background.png');
	font-family: "Palatino Linotype", Palatino, serif;
}

#new_tweet .error {
	color: red;
}

#logout_button {
	margin-right: 1px;
	margin-left: 10px;
}

#login_button {
	margin-right: 1px;
}